<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUMA</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>    
    <nav>
        <a href="index.html">
            <div class="logo-search-container">
                <div class="logo">
                    <img src="../img/logoloja.png" alt="Logo" width="50">
                </div>
                <h1>PUMA</h1>
            </div>
        </a>
        <div id="links">
            <a href="index.html">INÍCIO</a>
            <a href="produtos.html">PRODUTOS</a>
            <a href="carrinho.html">CARRINHO</a>
        </div>
    </nav>
    
    <main id="main-content">
        <div class="paralax paralaxney">
            <h1>COLEÇÃO NEYMAR JR.</h1>
        </div>   
        <div class="paralax paralaxgri">
            <h1>COLEÇÃO GRIEZMANN</h1>
        </div> 
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>
