<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUTOS</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>    
    <nav>
        <a href="index.html">
            <div class="logo-search-container">
                <div class="logo">
                    <img src="../img/logoloja.png" alt="Logo" width="50">
                </div>
                <h1>PUMA</h1>
            </div>
        </a>
        <div id="links">
            <a href="index.html">INÍCIO</a>
            <a href="produtos.html">PRODUTOS</a>
            <a href="carrinho.html">CARRINHO</a>
        </div>
    </nav>
    
    <main id="main-content">
        <div class="prods">
            <h1 style="margin-top: 5em;">Tênis e Chuteira</h1>
            <div class="tenis">
                <img class="imgtenis" src="../img/produto.jpg" alt="Tênis 1">
                <img class="imgtenis" src="../img/produto1.jpg" alt="Tênis 2">
                <img class="imgtenis" src="../img/produto2.jpg" alt="Tênis 3">
            </div>
            <h1 style="margin-bottom: 3em;">Camisas</h1>
            <div class="tenis">
                <img class="imgtenis" src="../img/produto3.jpg" alt="Camisa 1">
                <img class="imgtenis" src="../img/produto4.jpg" alt="Camisa 2">
                <img class="imgtenis" src="../img/produto5.jpg" alt="Camisa 3">
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>